<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/create" >
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/singers" >
        <ion-icon name="person-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" color="primary" routerLink="/recording-list" style="margin-top: 5%; margin-bottom: 5%;">
    CRUD recording
  </ion-button>

  <ion-card *ngFor="let song of songList" routerLink="/detail/{{song.id}}" >
    <ion-card-header>
      {{ song.songName }}
    </ion-card-header>
    <ion-card-content>
      Artist Name: {{ song.artistName }}
    </ion-card-content>
  </ion-card>
</ion-content>
